torch==2.2.2
torchvision==0.17.2
timm==0.9.16
albumentations==1.4.3
opencv-python-headless==4.9.0.80
Pillow==10.3.0
scikit-learn==1.4.2
numpy==1.26.4
pandas==2.2.2
streamlit==1.32.2
matplotlib==3.8.4
seaborn==0.13.2
mlflow==2.11.3
reportlab==4.1.0
ipykernel==6.29.4
jupyterlab==4.1.6
tqdm==4.66.2
